<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DMCA Lookup - MVC View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
	body {
  	font: 12px Verdana, Arial;
  	color: #000000;
  	background-color: #FAFAFA;} 
</style>

    <body>
    <center> 
      
        <div>&nbsp;</div>
		<div><img th:src="@{/resources/images/ucdavis_logo.png}"></img></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div><b>DMCA Lookup - MVC Version</b></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

            <table border="0" cellspacing="1" cellpadding="0">
 

                <tr>
                     <td>Behind departmental VLAN</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>                
                
                <tr>
                     <td colspan="6"><p th:text="'VLAN: ' + ${servicenumber}" class="event"/></td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                     <td><b>First</b></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Last</b></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Gateway</b></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Subnet Mask</b></td>
                </tr>

                <tr>
                     <td><p th:text="${first}" class="event"/></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><p th:text="${last}" class="event"/></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><p th:text="${gateway}" class="event"/></td>
                     <td>&nbsp;&nbsp;&nbsp;</td>
                     <td><p th:text="${subnet_mask}" class="event"/></td>
                </tr>


                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>                
                
<!--                 <tr>
                     <td>Department</td>
                     <td>Technical Contact</td>
                     <td>Work Phone</td>
                    <td>&nbsp;</td>
                </tr>
 -->                
<div>
      <table class="summary">
        <thead>
            <tr>
                <th>Technical Contact</th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <th>Work Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="list: ${list}">
                <td th:text="${list.name}">name</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td th:text="${list.phone}">phone</td>
            </tr>
            <tr th:unless="${list}">
                <td colspan="2">No Contacts</td>
            </tr>
        </tbody>
    </table>
</div>

                
            </table>
            
     <p>
      <a href="ipform.html" th:href="@{/}">Try again</a>
    </p>
 
    </center>
    </body>
    
</html>