<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DMCA Lookup - MVC View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
	body {
  	font: 12px Verdana, Arial;
  	color: #000000;
  	background-color: #FAFAFA;} 
</style>

    <body>
    <center> 
      
        <div>&nbsp;</div>
		<div><img th:src="@{/resources/images/ucdavis_logo.png}"></img></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div><b>DMCA Lookup - View Version</b></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

            <table border="0" cellspacing="1" cellpadding="0">
 

                <tr>
                     <td><p th:text="'IP: ' + ${ip}" class="event"/></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                     <td><p th:text="'Timestamp: ' + ${timestamp}" class="event"/></td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>                
                
				<tr>
                    <td colspan="2"><b>Our logs do not have an exact match for the stated IP and timestamp</b></td>
                </tr>
                
            </table>
            
     <p>
      <a href="ipform.html" th:href="@{/}">Try again</a>
    </p>
 
    </center>
    </body>
    
</html>