<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DMCA Lookup - MVC View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
	body {
  	font: 12px Verdana, Arial;
  	color: #000000;
  	background-color: #FAFAFA;} 
</style>

    <body>
    <center> 
      
        <div>&nbsp;</div>
		<div><img th:src="@{/resources/images/ucdavis_logo.png}"></img></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div><b>DMCA Lookup - MVC Version</b></div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

            <table border="0" cellspacing="1" cellpadding="0">
 

                <tr>
                     <td><p th:text="'IP: ' + ${ip}" class="event"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                
                <tr>
                    <td th:text="'First: ' + ${first}" class="event" ></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td th:text="'Second: ' + ${second}" class="event" ></td>
                </tr>

                 <tr>
                    <td th:text="'Timestamp: ' + ${timestamp}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                
<!--                <td th:text="'Login ID (from NOC): ' +${loginid}" class="event"></td>
                    <td>&nbsp;</td>
 -->
    	            <td th:text="'Login ID (from NOC):'" class="event"></td>
                    <td>&nbsp;</td>
    	            <td th:text="${loginid}" class="event"></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><b>Mothra Info</b></td>
                </tr>

                <tr>
                    <td th:text="'Name: ' + ${name}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td th:text="'Email: ' + ${email}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="'Client Type: ' + ${clienttype}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="'Department: ' + ${department}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="'Major: ' + ${major}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="'Level: ' + ${level}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td th:text="'Status: ' + ${status}" class="event"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                
<!--            <tr>
                    <td><p th:text="'Login ID (from NOC): ' + ${loginid}" class="event"/></td>
                    <td>&nbsp;</td>
                </tr>
 -->
            </table>
            
     <p>
      <a href="ipform.html" th:href="@{/}">Try again</a>
    </p>
 
    </center>
    </body>
    
</html>